.componentWrapper{
    background-color: #616161;
}
.componentWrapper[disabled]
{
    pointer-events: none;
    opacity: 0.5;
}
.componentTitle{
    font-size: 75%;
}
.hrLine{
    border: none;
	border-top: 1px solid #333;
}