.compnentWrapper{
    margin-left: 30%;
    padding: 10px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #2b2b2b;
    width: 40%;
    height: 80%;
}
.compnentTitle{
    color: #e8c219;
}
.topLevel{
    display: grid;
    grid-template-columns: 35fr 4fr;
    margin-top: 1%;
}
.inputDate{
    height: 100%;
    margin-top: 2%;
}
.selector{
    margin-top: 1%;
}
.optionsLevel{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: 5px;
}
.submitButton{
    margin-top: 1%;
}