.componentWrapper{
    margin-top: 2%;
    background-color: #2b2b2b;
    border-radius: 15px;
    width: 60%;
    padding: 10px;
}
.userName{
    color: #e8c219;
}

.title{
    margin-top: 1%;
    color: rgb(114, 114, 114);
}

.content{
    margin-top: 1%;
    background-color: #616161;
    padding: 10px;
    border-radius: 15px;
}

.vote{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 500px;
    margin-top: 1%;
    margin-bottom: 1%;
}

