.componentWrapper{
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 15px;
    background-color: #616161;
    width: 100%;
}
.selects{
    display: grid;
    grid-template-columns: 20fr 20fr;
    grid-column-gap: 10px;
}


@media (max-width: 1200px) {
    .selects{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}